<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title}}</title>
</head>
<body>

<h1>Old's commit id: {{.CommitOld}}</h1>
<h1>PR's  commit id: {{.Commit}}</h1>
<h1>{{.Message}}</h1>
<h1>Version：{{.Version}}</h1>
<h2>HostName：{{.HostName}}</h2>
<h2>IP：{{.IP}}</h2>


</body>
</html>
